* {

    box-sizing:border-box;
    font-family:Arial, sans-serif;

}



body {

    margin:0;
    background:#f4f6f9;
    color:#222;

}



/* LOGIN */


.login-container {


    width:380px;

    margin:120px auto;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.15);

    text-align:center;


}



.logo {


    font-size:60px;

}



h1 {


    margin-bottom:5px;

}



.subtitle {


    color:#777;

    margin-bottom:30px;

}



.form input {


    width:100%;

    padding:14px;

    margin-bottom:15px;

    border-radius:8px;

    border:1px solid #ccc;

    font-size:15px;


}



button {


    background:#2563eb;

    color:white;

    border:none;

    padding:14px 25px;

    border-radius:8px;

    cursor:pointer;

    font-size:15px;


}



button:hover {


    background:#1d4ed8;


}



/* DASHBOARD */


.topbar {


    background:#111827;

    color:white;

    padding:20px 40px;

    display:flex;

    justify-content:space-between;

    align-items:center;


}



.topbar button {


    background:#ef4444;


}



main {


    padding:40px;


}



.accounts {


    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(280px,1fr));

    gap:25px;


}



.card {


    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:
    0 5px 20px rgba(0,0,0,.1);


}



.card img {


    width:50px;

}



.card h2 {


    margin-top:10px;

}



.card button {


    margin-top:15px;

    width:100%;


}